<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>
      <%=title%>
   </title>
</head>

<body>
   <%- include('../partials/header') %>

      <div class="wrapper">
         <h2>@trongnguyendev</h2>
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam accusantium vitae ipsa? Similique odit
            eveniet
            dolores qui asperiores saepe aliquam velit quisquam veritatis! Provident beatae necessitatibus magnam illo,
            explicabo unde molestias et possimus dolor cumque eius, vitae, maxime vero. Sint deleniti facilis iure
            blanditiis
            temporibus doloremque ad exercitationem, incidunt voluptatum?</p>
      </div>

      <%- include('../partials/footer') %>
</body>

</html>